*{
    box-sizing: border-box;
}
.clac{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 400px;
    border: 1px solid;
    background-color:blue;
    transform: translate(50%,50%);
    -webkit-transform: translate(50%,30%);
    -moz-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    -o-transform: translate(50%,50%);
}
.result{
    width: 90%;
    border: 1px solid;
    height: 60px;
    margin-left: 15px;
    margin-top: 20px;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
   
}
#keyboard{
    width: 90%;
    border:none;
    border-style: none;
    height: 60px;
    margin-left: 15px;
    margin-top: 20px;
    color: blue;
    font-size: xx-large;
    font-weight: bolder;
    z-index: -1;
    background-color:blue;
    position: absolute;
}
.ROw{
    display: flex;
    justify-content: space-around;
}
.blocks{
    border: 1px solid;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: blue;
    font-size: xx-large;
    font-weight: bolder;
}